## Setup

In [2]:
import pandas as pd
import numpy as np

In [3]:
DATA_FILE_PATH = '/home/benshoho/projects/BEHRT/my_data/test.csv'

In [4]:
df = pd.read_csv(DATA_FILE_PATH, '\t')

/home/benshoho/.conda/envs/my_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df.head()

,Unnamed: 0,code,age,year,static,explabel,label
0,88412,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0
1,282358,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0
2,76509,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0
3,172790,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0
4,450220,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0

In [6]:
import random
from typing import List, Any

def generate_feature(possible_values: List[Any]):
    return random.choice(possible_values)

## Add Features

In [7]:
def df_with_sex_feature():
    df['sex'] = df['code'].apply(lambda _: generate_feature(possible_values=['sex_men', 'sex_woman']))
    return df

In [8]:
df = df_with_sex_feature()

In [9]:
df.head()

,Unnamed: 0,code,age,year,static,explabel,label,sex
0,88412,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0,sex_woman
1,282358,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0,sex_woman
2,76509,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0,sex_men
3,172790,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0,sex_men
4,450220,"['disease1', 'SEP', 'medication1', 'medication...","['600', '600', '650', '650', '650', '650', '65...","['1994', '1994', '1998', '1998', '1998', '1998...","[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...",0,0,sex_men

## Save the dataframe

In [10]:
df.to_csv(DATA_FILE_PATH)